#wrapper {
    width: 960px;
    margin: 15px auto;
}

#map {
    height: 450px;
    margin: 15px auto;
}

.container {
    height: 60px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.heading {
    text-align: center;
    color: #910c2d;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.coordinate {
    text-align: center;
    color: #110e3d;
    font-family: 'Roboto', sans-serif;
}

  

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}