#map {
    width: 550px;
    height: 550px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.coordinate {
    text-align: center;
    color: #110e3d;
    font-family: 'Roboto', sans-serif;
}